$largeur: (
    footer_menu_ordi:40%,
    body:100%,
	html: 100%,
    fa_sharp_mobile: 40px,
    fa_sharp_tablette: 60px,
    fa_sharp_ordi: 80px,
    coche_mobile: 80px,
    coche_tablette: 170px,
    coche_ordi: 120px,
    ul:70%,
    titre_footer: 70%,
    p_menu_tablette: 50vw,
    p_menu_mobile: 12rem,
    p_menu_ordi:28rem,
    restautant_image_menu: 100%,
    logo:100%,
    restaurant_image:100%,
    element:100%,
    block:654px,
    block_ordi:24rem,
    h3:450px,
    h4:450px,
    coche:100px,
    description_hover:50%,
    description_hover_ordi:19%,
    titres: 4rem,
    p: 16rem,
);
$hauteur: (
    fa_sharp_mobile: 100%,
    block_tablette: 20vw,
    block_mobile: 21vw,
    commander_menu_ordi: 30rem,
    logo_menu_ordi: 7vw,
    logo_menu: 10vw,
    logo:60px,
    restaurant_image:532px,
    h1:85px,
    footer:350px, 
    footer_tablette:28rem,
    titre_footer:35px, 
    ul_tablette:200px,
    ul_mobile:150px,
    image_footer:40px,
    image_footer_tablette:55px,
    image_footer_ordi:55px,
    h4:39px,
    block: 100px
);
$taille: (

    fa_sharp_mobile: 2rem,
    fa_sharp_tablette:2rem,
    fa_sharp_ordi: 2rem,
    icone_hande_tablette:5vw,
    icone_hande_ordi: 3vw,
    fourchette_couteau_mobile: 5vw,
    fourchette_couteau_tablette:3vw,
    fourchette_couteau_ordi:7vw,
    a_menu_mobile: 7vw,
    a_menu_tablette:4vw,
    a_menu_ordi: 3vw,
    ul_ordi: 2vw,
    p_menu_tablette: 3vw,
    p_menu_mobile: 20px,
    p_menu_ordi:30px,
    h4_menu_ordi:1rem,
    h4_menu_mobile: 3vw,
    h3_menu_ordi: 1rem,
    h3_menu_mobile: 3vw,
    ordinateur_only_ordi:4rem,
    h2_menu_mobile: 6vw,
    h2_menu_tablette: 5vw,
    h2_menu_ordi: 3vw,
    h1_menu_ordi: 5vw,
    h1_menu: 6vw,
    fa_arow_mobile:2rem,
    fa_arow_tablette:3rem,
    fa_arow_ordi:4rem,
    fa-solid: 35px, 
    h1: 42px, 
    h2: 30px, 
    h3:30px, 
    h3_ordi:14px,
    h3_hover:18px,
    h4:30px, 
    h4_hover:18px,
    h4_ordi:14px,
    h5:3vw,
    h5_hover:18px,
    p:26px, 
    a:30px, 
    fourchette_couteau:30px, 
    icone_hande:30px,
    fa_heart: 2rem,
);

$margeinterne: (
    restaurants:3rem 4rem 1rem 4rem,
    image_footer_ordi: 0rem 0rem 0rem 0rem,
    ul_ordi: 5rem 0rem 0rem 2rem ,
    commander_menu_ordi: 2rem 0rem 2rem 0rem,
    commander_menu_mobile: 3rem 0rem 0rem 0rem,
    p_menu_tablette: 2rem 10rem 2rem 10rem,
    p_menu_mobile: 1rem 0rem 1rem 0rem,
    p_menu_ordi:2rem 5rem 2rem 5rem,
    ordinateur_only_ordi: 3.5rem 5rem 1rem 0rem,
    element_ordi: 2rem 4rem 0rem 4rem,
    fourchette:0px,
    h7:0px 270px 0px 15px,
    logo:15px 218px 25px 0px, 
    bouton_recherche:1px,
    chiffre:15px 24px 24px 24px,
    ul:3rem 0rem 0rem 1rem,
    footer:50px,
    h1:60px 0px 10px 0px,
    p:25px,
    h5:40px 0px 30px 0px,
    hover_sharp:30px,
    page: 3rem 0rem 3rem 2rem,
    fa_heart: 3rem 1rem 4rem 0rem,
    fa_heart_tablette: 4rem 4rem 4rem 0rem,
    fa_heart_ordi: 4rem 3rem 4rem 45rem,
    button:0rem,
);
$margeexterne: (
    footer_menu_tablette: 1rem 0px 5rem 3rem,
    footer_menu_ordi: 0rem 0rem 5rem 1rem,
    description_mobile: 0rem,
    description_tablette: 0rem,
    description_ordi: 0rem,
    p_menu_tablette: 2rem 2rem 2rem 2rem,
    h4_menu_mobile: 0px 0px 0px 2rem,
    h3_menu_mobile: 1rem 0px 0px 2rem,
    h3_menu_tablette: 2rem 0px 0px 40px,
    h3_menu_ordi: 1rem 0px 2rem 2rem,
    h3_menu: 1rem 0px 0px 2rem,
    h1_menu_mobile: 0px 0px 0px 2rem,
    h1_menu_tablette:0px 0px 0px 4rem,
    haut_page_mobile:2rem 3rem 3rem 0rem,
    haut_page_tablette:2rem 5rem 3rem 0rem,
    haut_page_ordi:2rem 10rem 4rem 0rem,    
    fa_solid:0px 0px 0px 130px,
    h1:0px 0px 0px 40px,
    block:25px 40px 25px 40px,
    block_ordi:25px 10px 25px 10px,
    h3:0px 0px 0px 40px,
    h4:0px 0px 0px 40px,
    h5:0px 25% 0px 0px,
    p: 5% 30% 5% 30%,
    p_tablette: 5% 35% 5% 35%,
    p_ordi: 5% 38% 5% 38%,
    commander:0px 196px 0px 196px,
    titre_footer:0px 0px 50px 1rem,
    fourchette_couteau:0px 20px 0px 0px,
    icone_hande:0px 20px 0px 0px,
    logo:40px 0px 20px 0px,
    body:0px,
    fa_heart:4rem 4rem 4rem 43rem,
);

$anglebord:(
    block_tablette: 40px,
    block_mobile: 20px,
    p_menu_mobile: 45px,
    element:45px 45px 0px 0px,
    block:45px 45px 45px 45px,
    p:45px,
    titre_footer:0px,
    button: 45px 45px 0px 0px,
);
$bordure_bas:(
        titres_parties:4px solid #1C6EA4,
);

$ombre:(
    box-shadow:0px 0px 7px 1px,
    box-shadow-hover:0px 0px 7px 5px,
    block_menu:0px 0px 7px 1px,
    block_menu-hover:0px 0px 7px 5px,
);

$bottom:(
    restautant_image: 0rem,
    element: 3rem,
);

$top: (
    commander_menu:4rem,
    image_footer:2rem,
    titre_menu_mobile:0rem,
    titre_menu_tablette:0rem,
    titre_menu_ordi:3rem,
    h3_menu: 2rem,
    h4_menu: 2rem,
    footer_menu_ordi:4rem,
    ul:4rem,
    image_footer_ordi:4rem,
);
$left: (
    footer_menu_ordi:2rem,
    droite_block:88%,
    droite_block_tablette:91%,
    droite_block_ordi:88%,
    titres: 4rem,
    ul:4rem,
    ul_tablette: 2rem,
);
$right: (        
    ul_ordi:0rem,
    titre_footer_tablette:0rem,
    titre_footer:0rem,
    footer_menu:0px,
    commander_menu_ordi:0rem,
);
