$white:#FFFFFF;
$gris-sombre:rgb(34, 34, 34);
$bleu-claire: rgb(125, 125, 255);
$purpel: rgb(153, 70, 190);
$whitepurpel: rgb(153, 90, 210);
$pink: rgb(240, 182, 191);
$whitepink:rgb(240, 202, 201);
$gris: rgb(214, 214, 214);
$blanc-sombre:rgb(247, 247, 247);
$vert:#88dfc7;
$bleu: blue;
$vertclaire:#009b00;
