$gris: rgb(241, 241, 241);
$gris_moyen_sombre:rgb(222, 222, 222);
$gris_sombre: rgb(211, 210, 210);
$gris_tres_sombre:rgb(54, 54, 54);
$violet: #9356DC;
$black: #000000;
$pink: rgb(240, 182, 191);
$blue: #d9d9d9;
$white: #ffffff;
$radius: 45px 45px 45px 45px;

$radius_haut: 45px 45px 0px 0px;
$no_radius: 0px;
$blanc_sombre: #f1f1f1;
$aquamarine: #7FFFD4;
$green: #006300;